# Versions
REDIS_VERSION=7.2-alpine
RABBITMQ_VERSION=3.12-management
MONGO_VERSION=7.0
POSTGRES_VERSION=17

# Container Names
REDIS_CONTAINER_NAME=redis
RABBITMQ_CONTAINER_NAME=rabbitmq
MONGO_CONTAINER_NAME=mongodb
POSTGRES_CONTAINER_NAME=postgres-db
PGADMIN_CONTAINER_NAME=pgadmin
MONGO_EXPRESS_CONTAINER_NAME=mongo-express

# Volumes
REDIS_VOLUME=redis-data
RABBITMQ_VOLUME=rabbitmq-data
MONGO_VOLUME=mongo-data
POSTGRES_VOLUME=pg-data

# Network
NETWORK_NAME=data-network

# RabbitMQ credentials
RABBITMQ_USER=admin
RABBITMQ_PASS=admin
RABBITMQ_MGMT_PORT=15672

# MongoDB credentials
MONGO_USER=admin
MONGO_PASS=admin

# PostgreSQL credentials
POSTGRES_USER=admin
POSTGRES_PASS=admin

# pgAdmin credentials
PGADMIN_EMAIL=admin@local.com
PGADMIN_PASS=admin
PGADMIN_PORT=8081

# Mongo Express port
MONGO_EXPRESS_PORT=8082
