services:
  minio:
    image: minio/minio:latest
    container_name: minio
    restart: always
    ports:
      - "8000:9000"   # S3 API
      - "8001:9001"   # Web Console
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: miniopassword
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"

volumes:
  minio_data:
